<%= form_for @ride do |f| %><br>
	<fieldset>
		<div class='fields'>
			<%= f.label :name %><br>
			<%= f.text_field :name %><br><br>
		</div>
		<div class='fields'>
			<%= f.label :description %><br>
			<%= f.text_field :description %><br><br>
		</div>
		<div class='fields'>
			<%= f.label :distance %><br>
			<%= f.text_field :distance %><br><br>
		</div>
		<div class='fields'>
			<%= f.label :map %><br>
			<%= f.text_field :map %><br><br>
		</div>
		<div class='fields'>
			<%= f.label :date %><br>
			<%= f.text_field :date %><br><br>
		</div>
		<div class='fields'>
			<%= f.label :time %><br>
			<%= f.text_field :time %><br><br>
		</div>
	</fieldset>	
	<div><%= f.submit "Submit", :class => "btn btn-success" %></div><br>

<% end %>